.about-block h2 {
  height: 152px;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  font-size: 30px;
  font-family: "MONT", sans-serif;
  font-weight: normal;
}

.color1 {
  color: #3838ce;
}

.color2 {
  color: #52515f;
}

@media screen and (max-width: 576px) {
  .about-block h2 {
    height: 230px;
    font-size: 18px;
  }
}
