.consultation-bg-photo {
  display: flex;
  width: 100%;
  height: 616px;
  background-image: url("../images/vector.png");
  background-size: cover;
  align-items: center;
  padding: 20px;
}

.container-consultation {
  width: 100%;
  max-width: 1202px;
  height: auto;
  background-color: #3838ce;
  border-radius: 80px;
  padding: 55px;
  margin: 0 auto;
}

.col-wh {
  width: 500px;
}

.color-consultation {
  color: #ffffff;
}

.color-consultation p {
  margin-top: 140px;
}

.text-font-consul h1 {
  font-family: "MONT", sans-serif;
  font-weight: 800;
}

.text-font-consul p {
  font-family: "MONT", sans-serif;
  font-weight: 600;
}

.line-name,
.line-phone,
.line-email {
  width: 100%;
  height: 60px;
  background-color: #3838ce;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 26px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

::-webkit-input-placeholder  {
  color: #ffffff;
  opacity: 0.5;
  font-family: "MONT", sans-serif;
  font-weight: 600;
}

input[type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #ffffff;
  height: 28px;
  width: 28px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-right: 20px;
  margin-top: 30px;
}

input[type="radio"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}
input[type="radio"]:checked:after {
  display: block;
}

.btne.btne-width {
  width: 418px;
}

.btne-lg {
  background-color: #ffffff;
  border-radius: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
  font-family: "MONT", sans-serif;
  font-weight: 600;
  color: #52515f;
}

/*.btne-lg:hover {*/
/*  background-color: #b8e904;*/
/*  color: #52515f;*/
/*}*/

.btne.rounded-circle {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #ffffff;
  border: none;
}

.width-photo-consul {
  width: 60%;
  height: 60%;
}

/*.btne.rounded-circle:hover {*/
/*  background-color: #b8e904;*/
/*  color: #52515f;*/
/*}*/

.btne.hover {
  background-color: #b8e904;
  color: #52515f;
}

.button-group {
  display: flex;
  align-items: center;
}

.linc-accept {
  color: #ffffff;
  display: block;
  margin-top: 20px;
  font-family: "MONT", sans-serif;
  font-weight: 600;
}

.col-width-cons {
  width: 440px;
}

.col-width-cons-radio {
  width: 40px;
}

@media screen and (max-width: 576px) {
  .container-consultation {
    width: 330px;
    border-radius: 30px;
  }

  .line-name,
  .line-phone,
  .line-email {
    width: 100%;
    height: 50px;
  }

  .color-consultation h2 {
    font-size: 20px;
  }

  .color-consultation h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  .btne.btne-width {
    width: 229px;
    height: 50px;
  }

  .btne-lg {
    height: 50px;
  }

  .btne.rounded-circle {
    margin-left: 5px;
  }

  .col-wh {
    margin-left: 5px;
  }
}