.consultation-bg-photo {
  display: flex;
  width: 100%;
  height: auto;
  background-image: url("../images/vector.jpg");
  background-size: cover;
  align-items: center;
  padding: 20px;
}

.container-consultation {
  width: 100%;
  max-width: 1202px;
  height: auto;
  background-color: #3838ce;
  border-radius: 50px;
  padding: 55px;
  margin: 0 auto;
}

.color-consultation {
  color: #ffffff;
}

.color-consultation p {
  margin-top: 20px;
}

.line-name,
.line-phone,
.line-email {
  width: 100%;
  height: 60px;
  background-color: #3838ce;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 26px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.col-phone,
.col-email {
  padding-left: 5px;
  padding-right: 5px;
}

.btne.btne-width {
  width: 100%;
  max-width: 40px;
  min-width: 200px;
}

.btne-lg {
  background-color: #ffffff;
  border-radius: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
}

.btne-lg:hover {
  background-color: #b8e904;
  color: #52515f;
}

.btne.rounded-circle {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #ffffff;
  border: none;
}

.btne.rounded-circle:hover {
  background-color: #b8e904;
  color: #52515f;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group button {
  margin-left: 10px;
}

.linc-accept {
  color: #ffffff;
  display: block;
  margin-top: 20px;
}
