.pov {
  margin-top: 50px;
  font-size: 18px;
  transform: rotate(-5deg);
  margin-bottom: 100px;
}

.text-font {
  font-family: "MONT", sans-serif;
  font-weight: 800;
  font-size: 64px;
}

.line-container {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.slope-text-box,
.slope-text-circle {
  padding: 10px;
  margin: 0 10px;
  background-color: #3838ce;
  color: #ffffff;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  font-family: "MONT", sans-serif;
  font-weight: normal;
}

.slope-text-circle {
  border-radius: 20px;
}

.slope-text-box {
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-rid {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
}

.marquee-rid {
  display: flex;
  animation: scroll-rid 20s linear infinite;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .text-font {
    font-family: "MONT", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
  }
}

@media (max-width: 576px) {
  .line-container {
    overflow-x: hidden;
    white-space: nowrap;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .marquee {
    animation: scroll 10s linear infinite;
    width: 100vw;
  }

  .marquee-rid {
    animation: scroll-rid 10s linear infinite;
    width: 100vw;
  }

  .text-font {
    font-family: "MONT", sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
  }
}
