.document-block {
  background-color: white;
  padding: 40px 100px;
  border-radius: 80px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 150px;
}

.document-block h2 {
  color: #000;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.document-line {
  width: 590px;
  height: 60px;
  background-color: #3838ce;
  margin-bottom: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

.text-font-doc {
  font-family: "MONT", sans-serif;
  font-weight: 800;
}

.document-text {
  margin-top: 15px;
  margin-left: 26px;
  font-family: "MONT", sans-serif;
  font-weight: normal;
}

.nav-link {
  width: 100%;
  margin-top: 8px;
  margin-left: 8px;
  color: #52515f;
}

.nav-link.active {
  width: 95%;
  background-color: #b8e904 !important;
  border-radius: 50px !important;
  color: #52515f !important;
}

.nav-pills {
  width: 582px;
  height: 60px;
  border: 2px solid #52515f;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-item-left {
  width: 40%;
}

.nav-item-right {
  width: 60%;
}

.img-document {
  width: 100%;
  max-height: 560px;
}

.marg-button {
  margin-bottom: 60px;
}

.wh-col-text-line {
  width: 610px;
}

.col-wh-photo-block {
  flex: 1;
  min-width: 30%;
}

@media screen and (max-width: 576px) {
  .document-line {
    width: 100%;
    text-align: left;
  }

  .nav-pills {
    width: 100%;
    height: auto;
    border: 2px solid #52515f;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }

  .nav-link.active {
    width: 100%;
    margin: auto;
    background-color: #b8e904 !important;
    border-radius: 40px !important;
    color: #52515f !important;
  }
  .img-document {
    height: 275px;
  }
  .text-font-doc {
    font-size: 23px;
  }
  .document-line p {
    font-size: 16px;
  }
}
