.document-line {
  width: 590px;
  height: 60px;
  background-color: #3838ce;
  margin-bottom: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

.text-font-doc {
  font-family: "MONT", sans-serif;
  font-weight: 800;
}

.document-text {
  margin-top: 15px;
  margin-left: 26px;
  font-family: "MONT", sans-serif;
  font-weight: normal;
}

.nav-link {
  width: 100%;
  margin-top: 8px;
  margin-left: 8px;
  color: #52515f;
}

.nav-link.active {
  width: 95%;
  background-color: #b8e904 !important;
  border-radius: 50px !important;
  color: #52515f !important;
}

.nav-pills {
  width: 582px;
  height: 60px;
  border: 2px solid #52515f;
  border-radius: 50px;
}

.nav-item-left {
  width: 40%;
}

.nav-item-right {
  width: 60%;
}

.img-document {
  width: 590px;
  height: 540px;
}

.marg-button {
  margin-bottom: 60px;
}

.wh-col-text-line {
  width: 610px;
}

.wh-col-photo-block {
  width: 590px;
  height: 540px;
}

@media screen and (max-width: 576px) {
  .document-line {
    width: 100%;
    text-align: left;
  }

  .nav-link.active {
    width: 100% !important;
  }

  .nav-pills {
    height: 120px;
    border-radius: 30px;
  }

  .img-document {
    height: 275px;
  }

  .text-font-doc {
    font-size: 23px;
  }

  .document-line p {
    font-size: 16px;
  }
}
