.logo-img {
  max-height: 55px;
  width: auto;
}

.btn-group {
  display: inline-flex;
}

.btn.rounded-circle {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #52515f;
  border: none;
}

/*.btn.rounded-circle:hover {*/
/*  background-color: #b8e904;*/
/*  color: #52515f;*/
/*}*/

.btn-lg {
  background-color: #52515f;
  border-radius: 60px !important;
  height: 60px !important;
  padding-left: 61px;
  padding-right: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
  font-family: "MONT", sans-serif;
  font-weight: normal;
}

/*.btn-lg:hover {*/
/*  background-color: #b8e904;*/
/*  color: #52515f;*/
/*}*/

.btn.hover {
  background-color: #b8e904;
  color: #52515f;
}

.btn.hover img {
  content: url("../images/Group.png");
}

.width-photo-header {
  width: 60%;
  height: 60%;
}

@media screen and (max-width: 1280px) {
  .container {
    margin-top: 0.5rem;
  }

  .logo-img {
    width: 137px;
    height: 55px;
    margin-bottom: 0.5rem;
  }

  .btn.rounded-circle {
    width: 60px;
    height: 60px;
  }

  .btn.rounded-circle i {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 0.5rem;
  }

  .logo-img {
    width: 65px;
    height: 26px;
    margin-bottom: 0.5rem;
  }

  .btn.rounded-circle {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
  }

  .btn-lg {
    height: 50px;
    font-size: 16px;
    font-family: "Mont", sans-serif;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  .btn-group {
    justify-content: left;
  }
}
