.icon-block {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 99px;
}

.icon-line-one {
    width: 100%;
    height: 113px;
    margin-top: 90px;
}

.icon-line-two {
    width: 100%;
    height: 113px;
    margin-top: 30px;
}

.icon {
    margin-right: 20px;
    height: 65px;
}