.icon-block {
    margin-top: 150px;
    margin-bottom: 150px;
}

.text-font-icon-h1 {
    font-family: "MONT", sans-serif;
    font-weight: 800;
}

.text-font-icon-p {
    font-family: "MONT", sans-serif;
    font-weight: 600;
}

/*.icon-line-one {*/
/*    width: 100%;*/
/*    height: 113px;*/
/*    margin-top: 90px;*/
/*}*/

/*.icon-line-two {*/
/*    width: 100%;*/
/*    height: 113px;*/
/*    margin-top: 30px;*/
/*}*/

.icon {
    margin-right: 20px;
    height: 65px;
}

.pov2 {
    display: flex;
    flex-direction: column;
}

.line-container2 {
    overflow: hidden;
    white-space: nowrap;
}

.line2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

@keyframes scroll2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.marquee2 {
    display: flex;
    animation: scroll2 30s linear infinite;
}