@font-face {
  font-family: "Mont";
  src: url("/fonts/MONT-REGULAR.TTF") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/MONT-SEMIBOLD.TTF") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/MONT-BOLD.TTF") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: "MONT", sans-serif;
  line-height: 1.5;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    position: relative;
    width: 100vw;
  }
}
