.background-block {
  background-color: #3838ce;
  padding: 40px 0;
  height: 554px;
  border-radius: 80px;
  margin-top: 80px;
  overflow: visible;
  position: relative;
}

.background-block .container-fluid {
  background-color: transparent;
}

.text-and-image-block {
  position: relative;
  overflow: visible;
  z-index: 1;
}

.preview-text {
  font-family: "MONT", sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.preview-block h2 {
  color: white;
  margin-bottom: 15px;
  text-align: left;
  width: 403px;
  line-height: 63px;
  margin-top: 150px;
  margin-left: 225px;
}
.italic-text {
  font-style: italic;
}

.image-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.image-wrapper img {
  width: 1200px;
  height: 700px;
  top: 218px;
  left: 32%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .background-block {
    width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    padding: 20px 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 30px;
  }

  .preview-block h2 {
    color: white;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 0;
    font-size: 28px;
  }

  .preview-text {
    font-size: 28px;
    text-align: center;
  }

  .image-wrapper {
    position: relative;
    max-width: 100%;
    height: 450px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .image-wrapper img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    position: static;
    transform: none;
    top: auto;
    left: auto;
  }

  .text-and-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
