.container-step {
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-font-steps {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.marg-steps {
  margin-bottom: 30px;
}

.container-steps-01,
.container-steps-04,
.container-steps-06 {
  width: 100%;
  max-width: 450px;
  height: 206px;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 18px;
}

.container-steps-02,
.container-steps-03,
.container-steps-05 {
  width: 100%;
  max-width: 450px;
  height: 139px;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 17px;
}

.container-steps-01 {
  background-color: #3838ce;
}

.container-steps-06 {
  height: 360px;
  background: url(../images/Frame.png) no-repeat;
  padding: 20px;
  background-size: cover;
  overflow: hidden;
}

.container-steps-02,
.container-steps-04,
.container-steps-05 {
  background-color: #b8e904;
}

.row-align-steps {
  display: flex;
  justify-content: center;
}

.col-width-step {
  width: 457px;
}

.steps-01-number,
.steps-02-number {
  width: 54px;
  height: 33px;
  border-radius: 100px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 8px;
  line-height: 33px;
}

.steps-01-number {
  color: #3838ce;
}

.steps-02-number {
  color: #ffffff;
  background-color: #3838ce;
}

.steps-01-text,
.steps-02-text,
.steps-04-text {
  margin: 5px 0 0 8px;
  text-align: left;
  font-family: "Mont", sans-serif;
}

.steps-04-number {
  color: #ffffff;
  background-color: #3838ce;
  width: fit-content;
  padding: 2px 15px;
  border-radius: 30px;
}

.steps-01-text {
  color: #ffffff;
  margin-top: 39px;
}

.steps-04-text {
  margin-top: 75px;
}

.steps-02-text,
.steps-04-text,
.steps-05-text {
  color: #52515f;
}

.steps-06-text {
  display: flex;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  margin: 100px;
  font-weight: 700;
  font-family: "Mont", sans-serif;
  font-style: italic;
  font-size: 30px;
}

.text-font-steps-block {
  font-family: "Mont", sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.text-font-steps-number {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 1199px) and (min-width: 640px) {
  .container-step {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 40px;
  }

  .text-font-steps {
    font-size: 50px;
  }

  .marg-steps {
    margin-bottom: 25px;
  }

  .container-steps-01,
  .container-steps-02,
  .container-steps-03,
  .container-steps-04,
  .container-steps-06 {
    width: 100%;
    max-width: 100vw;
    height: auto;
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .container-steps-01,
  .container-steps-04 {
    height: 200px;
    align-items: center;
  }

  .container-steps-02,
  .container-steps-03,
  .container-steps-05 {
    height: 150px;
  }

  .row-align-steps {
    flex-direction: column;
    align-items: center;
  }

  .col-width-step {
    width: 100%;
    max-width: 100%;
  }

  .steps-01-number,
  .steps-02-number {
    width: 50px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }

  .steps-01-text,
  .steps-02-text,
  .steps-04-text,
  .steps-06-text {
    margin: 20px 0 0 10px;
    text-align: left;
  }

  .steps-01-text {
    margin-top: 40px;
  }

  .steps-04-text {
    margin-top: 75px;
  }

  .steps-06-text {
    text-align: left;
    font-weight: 800;
    margin: 20px 0 0 10px;
  }

  .text-font-steps-block {
    font-size: 25px;
    font-family: "Mont", sans-serif;
    font-weight: normal;
  }

  .text-font-steps-number {
    font-size: 25px;
    font-family: "Mont", sans-serif;
    font-weight: normal;
  }
}

@media (max-width: 576px) {
  .container-step {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .text-font-steps {
    text-align: center;
    font-size: 24px;
  }

  .marg-steps {
    margin-bottom: 20px;
  }

  .container-steps-01,
  .container-steps-02,
  .container-steps-03,
  .container-steps-04,
  .container-steps-05,
  .container-steps-06 {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: auto;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .container-steps-01,
  .container-steps-06 {
    height: 180px;
    align-items: center;
  }

  .container-steps-02,
  .container-steps-03,
  .container-steps-05 {
    height: 135px;
  }

  .row-align-steps {
    flex-direction: column;
    align-items: center;
  }

  .col-width-step {
    width: 100%;
    max-width: 100%;
  }

  .steps-01-number,
  .steps-02-number {
    width: 45px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .steps-01-text,
  .steps-02-text,
  .steps-04-text,
  .steps-06-text {
    margin: 15px 0 0 8px;
    text-align: left;
  }

  .steps-01-text {
    margin-top: 30px;
  }

  .steps-04-text {
    margin-top: 30px;
  }

  .steps-06-text {
    text-align: left;
    font-weight: 800;
    display: flex;
    justify-content: center;
  }

  .text-font-steps-block {
    font-size: 20px;
    font-family: "Mont", sans-serif;
    font-weight: normal;
  }

  .text-font-steps-number {
    font-size: 25px;
    font-family: "Mont", sans-serif;
    font-weight: normal;
  }
}
